Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

diagram improvements
  src/components/common/MiniFretboard.tsx
  src/styles/MiniFretboard.css
Due: prettier --write, eslint --fix, stylelint --fix

diagram improvements 2
  src/components/common/MiniFretboard.tsx
  src/styles/MiniFretboard.css
Due: prettier --write, eslint --fix, stylelint --fix

diagram improvements 3
  src/components/common/MiniFretboard.tsx
  src/styles/MiniFretboard.css
Due: prettier --write, eslint --fix, stylelint --fix

diagram improvements 4
  src/components/common/MiniFretboard.tsx
  src/hooks/useScaleChordManagement.ts
  src/styles/MiniFretboard.css
Due: prettier --write, eslint --fix, stylelint --fix

diagrams v1 for guitar and bass
  src/components/common/MiniFretboard.tsx
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/styles/Bass.css
  src/styles/Guitar.css
Due: prettier --write, eslint --fix, stylelint --fix

chords and scales diagrams added
  src/components/common/MiniKeyboard.tsx
  src/components/common/ScaleChordOptions.tsx
  src/styles/MiniKeyboard.css
Due: prettier --write, eslint --fix, stylelint --fix

keyboard diagram border fix
  src/styles/MiniKeyboard.css
Due: prettier --write, stylelint --fix

translation removed
  src/components/auth/UserMenu.tsx
  src/components/common/CustomAudioPlayer.tsx
  src/components/common/MiniFretboard.tsx
  src/components/common/MiniKeyboard.tsx
  src/components/common/ScaleChordOptions.tsx
  src/components/common/SkipLink.tsx
  src/components/common/ThemeToggle.tsx
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/Keyboard.tsx
  src/components/instruments/keyboard/KeyboardKey.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/layout/Header.tsx
  src/components/pages/Sandbox.tsx
  src/contexts/TranslationContext.tsx
  src/styles/Header.css
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix, stylelint --fix

new note ai
  src/components/common/CustomAudioPlayer.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Sandbox.tsx
  src/components/practice/LiveFeedback.tsx
  src/components/practice/MelodyFeedback.tsx
  src/components/practice/ScoreDisplay.tsx
  src/components/practice/index.ts
  src/hooks/index.ts
  src/hooks/useAIPitchDetection.ts
  src/hooks/useAdvancedPitchDetection.ts
  src/hooks/useDSPPitchDetection.ts
  src/hooks/useMelodyFeedback.ts
  src/hooks/usePerformanceGrading.ts
  src/hooks/usePitchDetection.ts
  src/services/transcription/MagentaTranscriber.ts
  src/services/transcription/MelodyMatcher.ts
  src/services/transcription/index.ts
  src/styles/CustomAudioPlayer.css
  src/styles/MelodyFeedback.module.css
  src/styles/PitchFeedback.module.css
  src/utils/dspPitch.ts
  src/utils/pitchUtils.ts
Due: prettier --write, eslint --fix, stylelint --fix

feedback system ui
  src/components/common/CustomAudioPlayer.tsx
  src/styles/CustomAudioPlayer.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

YIN algorithm work
  src/hooks/useMelodyFeedback.ts
  src/services/transcription/MelodyMatcher.ts
Due: prettier --write, eslint --fix

classroom feedback based progression
  src/components/common/CustomAudioPlayer.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/pages/Classroom.tsx
  src/services/transcription/MagentaTranscriber.ts
  src/services/transcription/MelodyMatcher.ts
Due: prettier --write, eslint --fix

assignment completion tracking
  src/components/pages/Classroom.tsx
  src/hooks/useClassrooms.ts
  src/lib/database-setup.ts
  src/styles/Classroom.module.css
Due: prettier --write, eslint --fix, stylelint --fix

assignment editor improvements
  src/components/pages/AssignmentModal.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/lib/database-setup.ts
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

scales/chords expanded ui mini diagram
  src/components/common/ScaleChordOptions.tsx
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

ui improvements and UX
  src/components/common/ScaleChordOptions.tsx
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

colour reduction
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

light mode temporarily removed
  src/components/common/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/styles/App.module.css
  src/styles/Bass.css
  src/styles/Controls.css
  src/styles/ControlsPanel.css
  src/styles/CustomAudioPlayer.css
  src/styles/CustomDropdown.css
  src/styles/DesignTokens.css
  src/styles/Footer.css
  src/styles/Guitar.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/MelodyControls.css
  src/styles/MelodyDisplay.css
  src/styles/NotesToggle.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/Tooltip.css
  src/styles/common-components.css
  src/styles/components/InputControls.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

colour reduction 2
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

colour reduction 3
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

colour reduction 4
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

colour reduction 5 37 colours
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

32 colours
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

29 colours
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

colour related fixes
  src/components/ErrorBoundary.module.css
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/common/PageLoader.module.css
  src/components/common/SkipLink.module.css
  src/components/pages/NotFound.tsx
  src/index.css
  src/styles/App.module.css
  src/styles/Bass.css
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Keyboard.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/enhanced-effects.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/keyboard/KeyboardControls.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

css improvements
  src/styles/Classroom.module.css
  src/styles/Controls.css
  src/styles/CustomDropdown.css
  src/styles/MelodyControls.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/common-components.css
  src/styles/components/ControlButtons.css
Due: prettier --write, stylelint --fix

css improvements
  src/styles/Bass.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/CustomDropdown.css
  src/styles/DesignTokens.css
  src/styles/Guitar.css
  src/styles/Keyboard.css
  src/styles/MelodyControls.css
  src/styles/MelodyDisplay.css
  src/styles/ScaleOptions.css
  src/styles/ThemeToggle.css
  src/styles/Tooltip.css
  src/styles/components/ControlButtons.css
  src/styles/components/InputControls.css
  src/styles/components/RecordingControls.css
  src/styles/enhanced-effects.css
  src/styles/keyboard/KeyboardControls.css
  src/styles/keyboard/KeyboardHighlighting.css
  src/styles/modules/ControlModule.css
  src/styles/modules/InstrumentModule.css
  src/styles/modules/ThemeModule.css
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

css improvemnts again
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

colour fixes
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

css imporvements and fixes
  src/styles/tokens/colors.css
  src/styles/tokens/effects.css
  src/styles/tokens/spacing.css
Due: prettier --write, stylelint --fix

css token imporvements
  src/styles/Keyboard.css
  src/styles/tokens/colors.css
  src/styles/tokens/effects.css
Due: prettier --write, stylelint --fix

bass checkbox colour fix
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

light mode added
  src/components/common/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/index.css
  src/styles/App.module.css
  src/styles/Classroom.module.css
  src/styles/Controls.css
  src/styles/DesignTokens.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/ThemeToggle.css
  src/styles/common-components.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

light mode fixes
  src/styles/Classroom.module.css
Due: prettier --write, stylelint --fix

note selection updates
  src/components/instruments/shared/InstrumentControls.tsx
  src/contexts/InstrumentContext.tsx
  src/contexts/MelodyContext.tsx
  src/hooks/useMelodyGenerator.ts
  src/styles/Controls.css
Due: prettier --write, eslint --fix, stylelint --fix

insufficient beats warning notice
  src/components/instruments/shared/InstrumentControls.tsx
  src/styles/Controls.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

text to speech test fix
  src/components/pages/AssignmentModal.tsx
  src/components/pages/Classroom.tsx
  src/translations/en.json
Due: prettier --write, eslint --fix

light mode fixes
  Untitled design (2).png
  public/Keplear-logo.png
  public/Keplear-profile-pic.png
  src/components/layout/Footer.tsx
  src/styles/Classroom.module.css
  src/styles/Footer.css
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

light mode fixes 2
  src/styles/ScaleOptions.css
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
