Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

ui changes
  src/components/common/ScaleChordOptions.tsx
  src/components/pages/Classroom.tsx
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

classroom export ui update
  src/components/pages/Classroom.tsx
  src/components/pages/Sandbox.tsx
  src/styles/Keyboard.css
  src/styles/Practice.module.css
  src/styles/keyboard/KeyboardContainer.css
Due: prettier --write, eslint --fix, stylelint --fix

classroom improvements
  src/components/pages/Classroom.tsx
  src/styles/Classroom.module.css
Due: prettier --write, eslint --fix, stylelint --fix

ui changes and fixes
  CUserse4elldefined_vars.txt
  CUserse4elldefined_vars_all.txt
  CUserse4ellundefined_final.txt
  CUserse4ellundefined_vars.txt
  CUserse4ellused_clean.txt
  CUserse4ellused_vars.txt
  index.html
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/pages/Classroom.tsx
  src/reducers/uiReducer.ts
  src/styles/Classroom.module.css
  src/styles/Keyboard.css
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

improvements
  src/App.tsx
  src/components/auth/AuthForms.module.css
  src/components/common/ChatPanel.tsx
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
Due: prettier --write, eslint --fix, stylelint --fix

ai assistant added
  src/components/common/ChatPanel.tsx
  src/styles/ChatPanel.module.css
  src/utils/chatAI.ts
Due: prettier --write, eslint --fix, stylelint --fix

tweaks
  src/components/common/ChatPanel.tsx
Due: prettier --write, eslint --fix

css tweaks
  src/components/common/ChatPanel.tsx
  src/styles/Controls.css
Due: prettier --write, eslint --fix, stylelint --fix

assignment updates
  src/components/pages/Classroom.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

exportation system fixed
  src/components/common/ScaleChordOptions.tsx
  src/components/pages/Classroom.tsx
  src/hooks/useScaleChordManagement.ts
Due: prettier --write, eslint --fix

classroom improvements
  src/components/pages/Classroom.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

ui changes
  src/components/common/CustomAudioPlayer.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Sandbox.tsx
  src/hooks/useDSPPitchDetection.ts
  src/styles/CustomAudioPlayer.css
Due: prettier --write, eslint --fix, stylelint --fix

improvements
  src/components/common/ScaleChordOptions.tsx
  src/components/pages/Classroom.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

guitar and bass lesson fixes
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

further classroom fixes
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

manual notes same rules
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

further work
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

assignments must use a single instrument
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

asignment editor style updates
  src/components/pages/Classroom.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson fixes and subttile fixes
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

classroom settings added
  src/components/pages/Classroom.tsx
  src/styles/Classroom.module.css
Due: prettier --write, eslint --fix, stylelint --fix

translation added
  package-lock.json
  package.json
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/ProtectedRoute.tsx
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/auth/UserMenu.tsx
  src/components/common/ChatPanel.tsx
  src/components/common/CustomAudioPlayer.tsx
  src/components/common/PageLoader.tsx
  src/components/common/ScaleChordOptions.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentSelector.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Home.tsx
  src/components/pages/NotFound.tsx
  src/components/pages/Sandbox.tsx
  src/contexts/AppProviders.tsx
  src/contexts/TranslationContext.tsx
  src/contexts/index.ts
  src/styles/Header.css
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix, stylelint --fix

back arrow light mode style fixed
  src/styles/Classroom.module.css
  src/styles/Practice.module.css
Due: prettier --write, stylelint --fix

subtitle fixes
  src/components/pages/Classroom.tsx
  src/styles/Classroom.module.css
  src/styles/tokens/colors.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

classroom export button styled
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/pages/Sandbox.tsx
  src/styles/Bass.css
  src/styles/Controls.css
  src/styles/Guitar.css
  src/styles/Practice.module.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

improvements
  src/components/common/CustomAudioPlayer.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Sandbox.tsx
  src/components/practice/LiveFeedback.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

new home page
  src/components/pages/Home.tsx
  src/styles/Home.module.css
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix, stylelint --fix

reveal system fixed
  src/components/common/CustomAudioPlayer.tsx
Due: prettier --write, eslint --fix

asignment update database fix
  src/lib/database-setup.ts
Due: prettier --write, eslint --fix

simplified welcome message on assignments
  src/translations/en.json
Due: prettier --write

guitar and bass chord shape fixes
  src/utils/instruments/bass/bassChords.ts
  src/utils/instruments/guitar/guitarChords.ts
Due: prettier --write, eslint --fix

entire fretboard postion fixed
  src/components/common/ScaleChordOptions.tsx
Due: prettier --write, eslint --fix

fixes to scale/chord entire fretboard application system
  src/components/common/ScaleChordOptions.tsx
Due: prettier --write, eslint --fix

translation for keplear assistant
  src/components/common/Tooltip.tsx
  src/components/melody/ParameterControls.tsx
  src/components/pages/AssignmentModal.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
  src/utils/chatAI.ts
Due: prettier --write, eslint --fix

preview mode added to assignent editor
  src/components/pages/AssignmentModal.tsx
  src/components/pages/Classroom.tsx
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix, stylelint --fix

guitar and bass diagrams for chords beta
  src/components/common/ScaleChordOptions.tsx
  src/styles/ScaleOptions.css
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix, stylelint --fix

chord diagram progress
  src/components/common/ScaleChordOptions.tsx
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

chord diagram further work
  src/components/common/ScaleChordOptions.tsx
  src/translations/cy.json
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ja.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/zh.json
Due: prettier --write, eslint --fix

diagram area setup
  src/components/common/ScaleChordOptions.tsx
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

diagram demo
  src/components/common/MiniFretboard.tsx
  src/components/common/ScaleChordOptions.tsx
  src/styles/MiniFretboard.css
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
