Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

scales/chords expanded ui size changes
  src/styles/ScaleOptions.css
Due: prettier --write, stylelint --fix

colour and editor fixes
  src/components/auth/AuthForms.module.css
  src/components/pages/Classroom.tsx
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/Practice.module.css
  src/styles/common-components.css
Due: prettier --write, eslint --fix, stylelint --fix

profiles added
  src/components/Router.tsx
  src/components/auth/UserMenu.tsx
  src/components/pages/Profile.tsx
  src/contexts/InstrumentContext.tsx
  src/hooks/useInstrumentSelectors.ts
  src/hooks/useUIState.ts
  src/lib/database-setup.ts
  src/reducers/uiReducer.ts
  src/styles/Profile.module.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

dashboard beta
  src/components/Router.tsx
  src/components/layout/Header.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Home.tsx
  src/contexts/InstrumentContext.tsx
  src/hooks/useInstrumentSelectors.ts
  src/hooks/useUIState.ts
  src/reducers/uiReducer.ts
  src/styles/Dashboard.module.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

dashboard ui update
  src/components/pages/Dashboard.tsx
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

dashboard improvements
  src/components/layout/Footer.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Sandbox.tsx
  src/styles/Dashboard.module.css
  src/utils/practiceTracker.ts
Due: prettier --write, eslint --fix, stylelint --fix

dashboard
  src/components/pages/Dashboard.tsx
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

new account stats fix
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Sandbox.tsx
  src/utils/practiceTracker.ts
Due: prettier --write, eslint --fix

dashboard progress
  src/components/pages/Dashboard.tsx
  src/components/pages/Sandbox.tsx
  src/styles/Dashboard.module.css
  src/utils/practiceTracker.ts
Due: prettier --write, eslint --fix, stylelint --fix

activity log fixes
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Sandbox.tsx
  src/hooks/usePracticeSessions.ts
  src/lib/database-setup.ts
Due: prettier --write, eslint --fix

dashboard improvements
  src/components/pages/Dashboard.tsx
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

dashboard graph styling improvemtns and filtering
  src/components/pages/Dashboard.tsx
  src/hooks/usePracticeSessions.ts
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

dashboard data imporvements
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/hooks/usePracticeSessions.ts
Due: prettier --write, eslint --fix

refresh and navigation dashboard fixes
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

graph ui fixes
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

scales/chord expanded menu ui compaction
  src/components/common/MiniFretboard.tsx
  src/components/common/MiniKeyboard.tsx
  src/components/common/ScaleChordOptions.tsx
  src/styles/MiniFretboard.css
  src/styles/MiniKeyboard.css
  src/styles/ScaleOptions.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

dashboard data changes
  src/components/pages/Dashboard.tsx
  src/hooks/usePracticeSessions.ts
Due: prettier --write, eslint --fix

account setup improvements
  src/App.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/onboarding/Onboarding.module.css
  src/components/onboarding/OnboardingWizard.tsx
  src/components/onboarding/TutorialOverlay.module.css
  src/components/onboarding/TutorialOverlay.tsx
  src/components/onboarding/steps/InstrumentStep.tsx
  src/components/onboarding/steps/JoinClassStep.tsx
  src/components/onboarding/steps/TutorialStep.tsx
  src/components/pages/Sandbox.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useClassrooms.ts
  src/hooks/useOnboarding.ts
  src/hooks/useTutorial.ts
  src/lib/database-setup.ts
  supabase/migrations/add_onboarding_columns.sql
Due: prettier --write, eslint --fix, stylelint --fix

tutorial fixed
  src/components/onboarding/TutorialOverlay.tsx
  src/hooks/useTutorial.ts
  src/reducers/uiReducer.ts
  supabase/migrations/add_tutorial_completed.sql
Due: prettier --write, eslint --fix

tutorial improvements
  src/components/onboarding/TutorialOverlay.module.css
  src/components/onboarding/TutorialOverlay.tsx
  src/hooks/useTutorial.ts
Due: prettier --write, eslint --fix, stylelint --fix

tutorial improvements
  src/components/onboarding/TutorialOverlay.module.css
  src/components/onboarding/TutorialOverlay.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Sandbox.tsx
  src/hooks/useTutorial.ts
Due: prettier --write, eslint --fix, stylelint --fix

style improvements
  src/components/ErrorBoundary.module.css
  src/components/auth/UserMenu.tsx
  src/components/pages/NotFound.tsx
  src/styles/App.module.css
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/Controls.css
  src/styles/ControlsPanel.css
  src/styles/Dashboard.module.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/MelodyFeedback.module.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/Profile.module.css
  src/styles/common-components.css
  src/styles/components/InstrumentControls.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/modules/InstrumentModule.css
  src/styles/tokens/colors.css
  src/styles/tokens/effects.css
Due: prettier --write, eslint --fix, stylelint --fix

profile colour picker
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/onboarding/Onboarding.module.css
  src/components/onboarding/TutorialOverlay.module.css
  src/components/pages/NotFound.tsx
  src/components/pages/Profile.tsx
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/Keyboard.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/Profile.module.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/modules/InstrumentModule.css
Due: prettier --write, eslint --fix, stylelint --fix

light mode fixes
  src/components/auth/UserMenu.module.css
  src/components/onboarding/Onboarding.module.css
  src/styles/App.module.css
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/CustomDropdown.css
  src/styles/Dashboard.module.css
  src/styles/DesignTokens.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/MiniFretboard.css
  src/styles/MiniKeyboard.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/Profile.module.css
  src/styles/ScaleOptions.css
  src/styles/Tooltip.css
  src/styles/common-components.css
  src/styles/components/InstrumentControls.css
  src/styles/index.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/modules/InstrumentModule.css
  src/styles/modules/ThemeModule.css
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

light mode added fully v1 beta
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

light mode fixes
  src/components/ErrorBoundary.module.css
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/onboarding/Onboarding.module.css
  src/index.css
  src/styles/App.module.css
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/ControlsPanel.css
  src/styles/Dashboard.module.css
  src/styles/DesignTokens.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/MelodyFeedback.module.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/Profile.module.css
  src/styles/common-components.css
  src/styles/components/InstrumentControls.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/modules/InstrumentModule.css
  src/styles/tokens/colors.css
Due: prettier --write, stylelint --fix

songs page added beta URL reliant
  index.html
  src/components/Router.tsx
  src/components/layout/Header.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Songs.tsx
  src/contexts/InstrumentContext.tsx
  src/hooks/useInstrumentSelectors.ts
  src/hooks/useUIState.ts
  src/reducers/uiReducer.ts
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Songs.module.css
  src/translations/en.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

songs page v0.5
  api/piped.js
  src/components/pages/Songs.tsx
  src/styles/Songs.module.css
  src/translations/en.json
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix AuthContext export for Vite production build
  src/components/pages/Classroom.tsx
  src/components/pages/Dashboard.tsx
  src/components/pages/Home.tsx
  src/components/pages/Sandbox.tsx
  src/contexts/AuthContext.tsx
  src/contexts/index.ts
  src/hooks/useAuth.ts
  src/hooks/usePracticeSessions.ts
Due: prettier --write, eslint --fix

Force clean Vercel build - disable cache
  package.json
  vercel.json
Due: prettier --write

Clear all caches before build
  package.json
Due: prettier --write

Force Node 20+, fresh package-lock
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Fix circular dependency causing AuthContext export error in production
  src/contexts/index.ts
Due: prettier --write, eslint --fix

Remove GitHub Pages workflow, use Vercel exclusively
  .github/workflows/deploy.yml
Due: prettier --write

Bump version to 1.0.3 to force Vercel cache invalidation
  package.json
  vercel.json
Due: prettier --write

Force rebuild with source change to invalidate Vercel cache
  src/main.tsx
Due: prettier --write, eslint --fix

Fix AuthContext export issue for production builds
  src/contexts/AuthContext.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

songs page v0.9
  api/piped-streams.js
  index.html
  package-lock.json
  src/components/pages/Songs.tsx
  src/styles/Songs.module.css
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

cobalt test
  api/cobalt.js
  src/components/pages/Songs.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
