Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

css fixes on mobile
  src/styles/Controls.css
Due: prettier --write, stylelint --fix

mobile styling fixes for instrument header controls
  src/styles/Controls.css
  src/styles/ScaleOptions.css
Due: prettier --write, stylelint --fix

deselect all shadow removed and moved up 1px
  src/styles/Controls.css
Due: prettier --write, stylelint --fix

pointless files removed
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  ARCHITECTURE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  TESTING.md
Due: prettier --write

fixed claude dir
  .claude/settings.local.json
  .gitignore
Due: prettier --write

bass multi select styling
  src/styles/Bass.css
Due: prettier --write, stylelint --fix

live feedback beta
  src/components/common/CustomAudioPlayer.tsx
  src/components/keyboard/InstrumentControls.tsx
  src/styles/CustomAudioPlayer.css
  src/utils/audioAnalysis.ts
Due: prettier --write, eslint --fix, stylelint --fix

live feedback alpha
  src/components/keyboard/InstrumentControls.tsx
  src/styles/CustomAudioPlayer.css
  src/styles/Keyboard.css
  src/utils/audioAnalysis.ts
Due: prettier --write, eslint --fix, stylelint --fix

light mode styling fixes
  src/components/common/Footer.tsx
  src/styles/Keyboard.css
  src/styles/Tooltip.css
Due: prettier --write, eslint --fix, stylelint --fix

keyboard selection mode change fixes
  src/contexts/InstrumentContext.tsx
Due: prettier --write, eslint --fix

Home Page Added
  src/components/pages/Home.tsx
  src/styles/Controls.css
  src/styles/Home.module.css
Due: prettier --write, eslint --fix, stylelint --fix

deselect all aligned
  src/styles/Controls.css
Due: prettier --write, stylelint --fix

2 stage feedback system
  src/components/keyboard/InstrumentControls.tsx
  src/styles/CustomAudioPlayer.css
Due: prettier --write, eslint --fix, stylelint --fix

practice page beta
  src/components/Router.tsx
  src/components/pages/Practice.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode page redo
  src/components/pages/Practice.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode page updates
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/common/ScaleChordOptions.tsx
  src/components/keyboard/InstrumentControls.tsx
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/keyboard/InstrumentHeader.tsx
  src/components/pages/Practice.tsx
  src/styles/Practice.module.css
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode updates
  src/components/keyboard/InstrumentControls.tsx
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/keyboard/InstrumentHeader.tsx
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Controls.css
  src/styles/Keyboard.css
  src/styles/MelodyControls.css
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

keyboard simple melody update
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/pages/Practice.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

keyboard simple melody session
  src/components/keyboard/InstrumentControls.tsx
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

practice mode keyboard css header controls improved
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/keyboard/InstrumentHeader.tsx
  src/components/pages/Practice.tsx
  src/styles/Controls.css
  src/styles/Keyboard.css
  src/styles/ScaleOptions.css
  src/styles/keyboard/KeyboardContainer.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode simple melodies lesson demo
  src/components/keyboard/InstrumentControls.tsx
  src/components/keyboard/InstrumentDisplay.tsx
  src/components/pages/Practice.tsx
  src/contexts/InstrumentContext.tsx
Due: prettier --write, eslint --fix

practice mode other lessons added keyboard
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

guitar and bass lessons added
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

new colour pallete
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/pages/NotFound.tsx
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/common-components.css
  src/styles/enhanced-effects.css
  src/styles/modules/ControlModule.css
  src/styles/tokens/colors.css
  src/styles/tokens/effects.css
  src/styles/tokens/typography.css
  src/styles/ui-components.css
Due: prettier --write, eslint --fix, stylelint --fix

colour fixes and logo added
  index.html
  public/Keplear-favicon.png
  public/Keplear-logo.png
  src/components/auth/AuthForms.module.css
  src/components/auth/LoginForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/styles/Controls.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Keyboard.css
  src/styles/ScaleOptions.css
  src/styles/ThemeToggle.css
  src/styles/keyboard/KeyboardControls.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

small changes
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

account system changes
  src/components/ProtectedRoute.tsx
  src/components/auth/SignupForm.tsx
  src/components/auth/UserMenu.tsx
Due: prettier --write, eslint --fix

restricted softlaunch build
  src/App.tsx
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/components/common/Header.tsx
  src/components/pages/Home.tsx
Due: prettier --write, eslint --fix

git hub pages setup
  .github/workflows/deploy.yml
  public/CNAME
  vite.config.ts
Due: prettier --write, eslint --fix

Add environment variables to GitHub Actions workflow
  .github/workflows/deploy.yml
Due: prettier --write

Fix build errors for deployment
  package-lock.json
  package.json
  src/utils/index.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix

Fix base path for GitHub Pages deployment
  vite.config.ts
Due: prettier --write, eslint --fix

logo fix
  src/components/common/Header.tsx
Due: prettier --write, eslint --fix

further logo fixes and removed x icon from forced login page
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/auth/UserMenu.tsx
  src/components/common/Footer.tsx
Due: prettier --write, eslint --fix

Configure app for custom domain keplear.com
  public/CNAME
  vite.config.ts
Due: prettier --write, eslint --fix

Create CNAME
  CNAME
Due: none

vibe check fr
  LICENSE
  README.md
Due: prettier --write

redundant file cleanup
  src/assets/README.md
  src/components/common/ChordOptions.tsx
  src/components/common/ControlsPanel.tsx
  src/components/common/ScaleOptions.tsx
  src/components/common/ScaleOptionsCustom.tsx
  src/components/index.ts
  src/styles/README.md
  src/styles/shared/fretboard.css
  src/styles/shared/instruments.css
  src/styles/ui-components.css
  src/utils/audioExport.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

removed flawed feedback system
  src/components/keyboard/InstrumentControls.tsx
  src/utils/audioAnalysis.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
