Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

ui changes
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/common/CustomAudioPlayer.tsx
  src/components/common/ScaleChordOptions.tsx
  src/components/keyboard/InstrumentHeader.tsx
  src/components/pages/Home.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Controls.css
  src/styles/Footer.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

new homepage
  src/components/pages/Home.tsx
  src/styles/Home.module.css
  src/styles/tokens/colors.css
Due: prettier --write, eslint --fix, stylelint --fix

access system allows account login and sign up + style changes
  src/components/ProtectedRoute.tsx
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/auth/UserMenu.module.css
  src/components/auth/UserMenu.tsx
  src/components/common/Header.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Controls.css
  src/styles/Header.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/Tooltip.css
Due: prettier --write, eslint --fix, stylelint --fix

FILE STRUCTRE FIXES
  src/App.tsx
  src/components/Router.tsx
  src/components/__tests__/Header.test.tsx
  src/components/index.ts
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/Keyboard.tsx
  src/components/instruments/keyboard/KeyboardKey.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/instruments/shared/InstrumentRenderer.tsx
  src/components/instruments/shared/InstrumentSelector.test.tsx
  src/components/instruments/shared/InstrumentSelector.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/melody/MelodyControls.test.tsx
  src/components/melody/MelodyControls.tsx
  src/components/melody/MelodyDisplay.tsx
  src/components/melody/ParameterControls.tsx
  src/components/pages/Practice.tsx
  src/contexts/index.ts
  src/hooks/useScaleChordManagement.ts
  src/styles/App.module.css
Due: prettier --write, eslint --fix, stylelint --fix

style fixes
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/melody/MelodyControls.tsx
  src/hooks/index.ts
  src/hooks/useHoldButton.ts
  src/styles/Bass.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/Guitar.css
  src/utils/index.ts
  src/utils/inputValidation.ts
Due: prettier --write, eslint --fix, stylelint --fix

css fixes
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/pages/Home.tsx
  src/index.css
  src/styles/App.module.css
  src/styles/Bass.css
  src/styles/CSSModules.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/CustomDropdown.css
  src/styles/Footer.css
  src/styles/Guitar.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/MelodyControls.css
  src/styles/MelodyDisplay.css
  src/styles/NotesToggle.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/ThemeToggle.css
  src/styles/Tooltip.css
  src/styles/common-components.css
  src/styles/components/ControlButtons.css
  src/styles/components/InputControls.css
  src/styles/components/InstrumentSelector.css
  src/styles/components/RecordingControls.css
  src/styles/enhanced-effects.css
  src/styles/keyboard/KeyboardContainer.css
  src/styles/keyboard/KeyboardControls.css
  src/styles/keyboard/KeyboardHighlighting.css
  src/styles/keyboard/KeyboardLayout.css
  src/styles/modules/ControlModule.css
  src/styles/modules/InstrumentModule.css
  src/styles/modules/ThemeModule.css
  src/styles/tokens/colors.css
  src/styles/tokens/effects.css
  src/styles/tokens/typography.css
Due: prettier --write, eslint --fix, stylelint --fix

style changes
  src/components/auth/AuthForms.module.css
  src/components/auth/UserMenu.module.css
  src/components/instruments/shared/InstrumentControls.tsx
  src/styles/Bass.css
  src/styles/Controls.css
  src/styles/CustomAudioPlayer.css
  src/styles/Guitar.css
  src/styles/Header.css
  src/styles/Home.module.css
  src/styles/Keyboard.css
  src/styles/NotesToggle.css
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
  src/styles/ScaleOptions.css
  src/styles/ThemeToggle.css
  src/styles/common-components.css
  src/styles/components/ControlButtons.css
  src/styles/components/InstrumentSelector.css
  src/styles/components/RecordingControls.css
  src/styles/enhanced-effects.css
  src/styles/keyboard/KeyboardLayout.css
  src/styles/modules/ControlModule.css
  src/styles/modules/InstrumentModule.css
  src/styles/tokens/effects.css
Due: prettier --write, eslint --fix, stylelint --fix

style fixes
  src/components/common/ScaleChordOptions.tsx
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/Keyboard.tsx
  src/components/instruments/keyboard/KeyboardKey.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/instruments/shared/InstrumentRenderer.tsx
  src/styles/Header.css
  src/styles/Keyboard.css
  src/styles/keyboard/KeyboardLayout.css
Due: prettier --write, eslint --fix, stylelint --fix

mobile blank space fix
  src/index.css
  src/styles/App.module.css
  src/styles/Header.css
Due: prettier --write, stylelint --fix

style fixes
  public/octave icon.svg
  src/styles/Header.css
  src/styles/Keyboard.css
  src/styles/Practice.module.css
Due: prettier --write, stylelint --fix

octave icon fix
  public/Octave-icon.png
  public/octave icon.svg
  src/components/instruments/keyboard/KeyboardKey.tsx
  src/components/instruments/shared/InstrumentControls.tsx
Due: prettier --write, eslint --fix

lesson improvements
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/KeyboardKey.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentRenderer.tsx
  src/components/pages/Practice.tsx
  src/hooks/useScaleChordManagement.ts
  src/utils/instruments/bass/bassNotes.ts
  src/utils/instruments/guitar/guitarNotes.ts
  src/utils/notes.ts
  src/utils/practice/practiceNotes.ts
Due: prettier --write, eslint --fix

loading animation fixed and lesson auto play fix
  src/components/common/CustomAudioPlayer.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/pages/Practice.tsx
  src/styles/Controls.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode layout changes
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/Keyboard.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentRenderer.tsx
  src/styles/Bass.css
  src/styles/Guitar.css
Due: prettier --write, eslint --fix, stylelint --fix

text to speech auto stop added
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

simple melody ui fix lessosn guitar and bass
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

lesson fix for guitar and bass
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/Practice.tsx
  src/hooks/useScaleChordManagement.ts
Due: prettier --write, eslint --fix

lesson changes
  src/components/common/ScaleChordOptions.tsx
  src/components/instruments/shared/InstrumentDisplay.tsx
  src/components/instruments/shared/InstrumentHeader.tsx
  src/components/pages/Practice.tsx
  src/contexts/MelodyContext.tsx
  src/hooks/useScaleChordManagement.ts
  src/styles/ScaleOptions.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson style and subtitle tweaks
  src/components/pages/Practice.tsx
  src/styles/CustomAudioPlayer.css
  src/styles/MelodyDisplay.css
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

revised lesson setupp ui
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson options implemented
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson option instrument selection change
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

sandbox mode components brung to lesson settings
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

practice mode ui changes
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/hooks/useScaleChordManagement.ts
  src/styles/Practice.module.css
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson settings changed notes removed and instrument selector mobile more contrasted
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Controls.css
Due: prettier --write, eslint --fix, stylelint --fix

lesson settings titles centered
  src/styles/Controls.css
  src/styles/PracticeOptionsModal.module.css
Due: prettier --write, stylelint --fix

keyboard scales lessons octave range fix
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

guitar and bass ranges added
  public/Bass-fretboard.png
  public/Guitar-fretboard.png
  public/Keyboard.png
  public/Octave-icon.png
  src/utils/instruments/bass/bassScales.ts
  src/utils/instruments/guitar/guitarScales.ts
Due: prettier --write, eslint --fix

octave range and fretboard range fixed and added
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/pages/PracticeOptionsModal.tsx
  src/styles/Controls.css
Due: prettier --write, eslint --fix, stylelint --fix

melody lessons function alongside fret range for guitar and bass
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

fretboard chord changes
  src/components/common/ScaleChordOptions.tsx
  src/utils/instruments/bass/bassChords.ts
  src/utils/instruments/guitar/guitarChords.ts
Due: prettier --write, eslint --fix

lesson keyboard scales/chord application uses standard system
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

chords lesson fixed keyboard
  src/components/pages/Practice.tsx
  src/components/pages/PracticeOptionsModal.tsx
Due: prettier --write, eslint --fix

chords system fixed almost on lessons
  src/components/common/ScaleChordOptions.tsx
  src/components/pages/Practice.tsx
  src/hooks/useScaleChordManagement.ts
Due: prettier --write, eslint --fix

guitar and bass chords lessons fixed
  src/components/pages/Practice.tsx
Due: prettier --write, eslint --fix

lessons v1.5
  src/components/pages/Practice.tsx
  src/hooks/useScaleChordManagement.ts
  src/utils/instruments/bass/bassScales.ts
  src/utils/instruments/guitar/guitarScales.ts
Due: prettier --write, eslint --fix

scales/chords removal fixed for guitar and bass
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
Due: prettier --write, eslint --fix

added done button to lessons
  src/components/pages/Practice.tsx
  src/styles/Practice.module.css
Due: prettier --write, eslint --fix, stylelint --fix

octave and fret range settings for each lesson type
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/pages/PracticeOptionsModal.tsx
Due: prettier --write, eslint --fix

added skills page
  src/components/Router.tsx
  src/components/auth/UserMenu.tsx
  src/components/pages/Skills.tsx
  src/contexts/InstrumentContext.tsx
  src/hooks/useUIState.ts
  src/reducers/uiReducer.ts
  src/styles/Skills.module.css
Due: prettier --write, eslint --fix, stylelint --fix
