Repository pipkim2009/keplear.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

random waves reinstated
  api/cobalt.js
  src/components/pages/Songs.tsx
  src/styles/Songs.module.css
Due: prettier --write, eslint --fix, stylelint --fix

songs lesson integration test
  src/components/pages/Classroom.tsx
  src/components/pages/Songs.tsx
  src/styles/Songs.module.css
Due: prettier --write, eslint --fix, stylelint --fix

songs lesson integration v1
  src/components/pages/Classroom.tsx
  src/components/pages/Songs.tsx
Due: prettier --write, eslint --fix

classroom improvements
  src/components/pages/Classroom.tsx
Due: prettier --write, eslint --fix

general improvements
  CUserse4ellwebsiteskeplear.comeslint-config-debug.json
Due: prettier --write

wave updates
  1770414981268-player-script.js
  1770414981273-player-script.js
  api/audio-proxy.js
  api/piped-streams.js
  package-lock.json
  package.json
  scratchpad/gen.cjs
  scratchpad/gen.js
  scratchpad/test-audio-download.cjs
  scratchpad/test-audio-download.js
  scratchpad/test-waveform-pipeline.mjs
  scratchpad/test-youtube-range.cjs
  scratchpad/test-youtubei-throttle.mjs
  scratchpad/write-script.cjs
  scratchpad/write-script2.cjs
  scratchpad/write-test.js
  scratchpad/ytdl-throttle-test.cjs
  src/components/classroom/SongPlayerUI.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Songs.tsx
  src/hooks/index.ts
  src/hooks/useWaveformData.ts
  src/utils/index.ts
  src/utils/waveformUtils.ts
  vercel.json
  vite-piped-plugin.ts
  vite.config.ts
Due: prettier --write, eslint --fix

wave engine update
  api/audio-proxy.js
  scratchpad.mjs
  src/styles/Songs.module.css
  src/utils/waveformUtils.ts
  vite-piped-plugin.ts
Due: prettier --write, eslint --fix, stylelint --fix

audio player updates
  src/components/classroom/SongPlayerUI.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/Songs.tsx
  src/hooks/useWaveformData.ts
  src/styles/Songs.module.css
  src/utils/waveformUtils.ts
Due: prettier --write, eslint --fix, stylelint --fix

vercel fixes
  .npmrc
Due: none

style fixes
  src/components/auth/AuthForms.module.css
  src/components/onboarding/Onboarding.module.css
  src/styles/ChatPanel.module.css
  src/styles/Classroom.module.css
  src/styles/CustomAudioPlayer.css
  src/styles/MelodyFeedback.module.css
  src/styles/Practice.module.css
  src/styles/Profile.module.css
  src/styles/Songs.module.css
Due: prettier --write, stylelint --fix

further style fixes
  src/styles/Keyboard.css
  src/styles/ScaleOptions.css
Due: prettier --write, stylelint --fix

style updates scroll bars
  src/styles/Bass.css
  src/styles/Guitar.css
  src/styles/Keyboard.css
  src/styles/enhanced-effects.css
  src/styles/keyboard/KeyboardControls.css
Due: prettier --write, stylelint --fix

stem system
  api/audio-proxy.js
  package-lock.json
  package.json
  src/components/pages/Songs.tsx
  src/components/songs/StemControls.tsx
  src/hooks/useStemPlayer.ts
  src/hooks/useStemSeparation.ts
  src/hooks/useWaveformData.ts
  src/styles/Songs.module.css
  src/workers/stemSeparation.worker.ts
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

audio steming v1
  src/hooks/useStemSeparation.ts
  src/hooks/useWaveformData.ts
  src/workers/stemSeparation.worker.ts
  vite-piped-plugin.ts
  vite.config.ts
Due: prettier --write, eslint --fix

stem splitting update
  src/components/pages/Songs.tsx
  src/hooks/useStemSeparation.ts
  src/workers/stemSeparation.worker.ts
  vite-piped-plugin.ts
Due: prettier --write, eslint --fix

Custom instrument picker for stem separation
  .gitignore
  api/audio-proxy.js
  api/piped-streams.js
  index.html
  package-lock.json
  package.json
  scripts/convert-spleeter-onnx.py
  src/components/pages/Songs.tsx
  src/components/songs/StemControls.tsx
  src/hooks/useStemPlayer.ts
  src/hooks/useStemSeparation.ts
  src/hooks/useWaveformData.ts
  src/styles/Songs.module.css
  src/workers/stemSeparation.worker.ts
  vite-piped-plugin.ts
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

custom stemming options
  CUserse4ellAppDataLocalTempclaudeC--Users-e4ell-websites-keplear-comdda84063-b009-45a4-884e-fa8b92b33e71scratchpadrelease.json
Due: prettier --write

stem ux improvements
  api/audio-proxy.js
  src/components/pages/Songs.tsx
  src/components/songs/StemControls.tsx
  src/hooks/useStemPlayer.ts
  src/hooks/useStemSeparation.ts
  src/styles/Songs.module.css
  src/workers/stemSeparation.worker.ts
Due: prettier --write, eslint --fix, stylelint --fix

improvements
  api/piped.js
  src/components/pages/Songs.tsx
  src/components/songs/StemControls.tsx
  src/styles/Songs.module.css
Due: prettier --write, eslint --fix, stylelint --fix

loading improvements
  src/workers/stemSeparation.worker.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Fixed deploymenet streaming
  index.html
Due: none

stemming fixes
  api/audio-proxy.js
  api/piped-streams.js
Due: prettier --write, eslint --fix

deployment fixes for stem system
  api/audio-proxy.js
  api/piped-streams.js
  index.html
Due: prettier --write, eslint --fix

Switch piped-streams to Vercel Edge Function
  api/piped-streams.js
Due: prettier --write, eslint --fix

Add YouTube iOS API key to InnerTube requests
  api/piped-streams.js
Due: prettier --write, eslint --fix

Add multi-source YouTube stream extraction with Cloudflare Worker fallback
  src/hooks/useWaveformData.ts
  src/lib/youtubeStreams.ts
  workers/yt-proxy/worker.js
  workers/yt-proxy/wrangler.toml
Due: prettier --write, eslint --fix

:(((( legal changes bye bye yt steming
  api/audio-proxy.js
  api/piped-streams.js
  package-lock.json
  package.json
  src/components/Router.tsx
  src/components/layout/Header.tsx
  src/components/pages/Songs.tsx
  src/components/pages/Stems.tsx
  src/components/stems/StemControls.tsx
  src/hooks/useStemSeparation.ts
  src/hooks/useWaveformData.ts
  src/lib/youtubeStreams.ts
  src/styles/Songs.module.css
  src/styles/Stems.module.css
  src/translations/en.json
  vercel.json
  vite-piped-plugin.ts
  workers/yt-proxy/worker.js
  workers/yt-proxy/wrangler.toml
Due: prettier --write, eslint --fix, stylelint --fix

removed songs and stems message
  src/components/pages/Songs.tsx
  src/components/pages/Stems.tsx
Due: prettier --write, eslint --fix

instrument page added
  src/components/Router.tsx
  src/components/instruments/bass/Bass.tsx
  src/components/instruments/guitar/Guitar.tsx
  src/components/instruments/keyboard/Keyboard.tsx
  src/components/instruments/shared/InstrumentControls.tsx
  src/components/layout/Header.tsx
  src/components/pages/Instruments.tsx
  src/components/pages/Stems.tsx
  src/components/stems/StemControls.tsx
  src/styles/Bass.css
  src/styles/Guitar.css
  src/styles/Instruments.module.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

imporvements
  src/components/Router.tsx
  src/components/instruments/shared/InstrumentSelector.test.tsx
  src/components/instruments/shared/InstrumentSelector.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/pages/Instruments.tsx
  src/components/pages/Metronome.tsx
  src/components/pages/Tuner.tsx
  src/hooks/useMetronome.ts
  src/hooks/useTuner.ts
  src/styles/Footer.css
  src/styles/Metronome.module.css
  src/styles/Tuner.module.css
  src/styles/components/InstrumentSelector.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

sandbox frames
  src/components/pages/SandboxPage.tsx
  src/components/sandbox/SandboxWindow.tsx
  src/components/sandbox/types.ts
  src/hooks/useWindowManager.ts
  src/styles/SandboxPage.module.css
  src/styles/SandboxWindow.module.css
Due: prettier --write, eslint --fix, stylelint --fix

improvements
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/styles/Header.css
Due: prettier --write, eslint --fix, stylelint --fix

sandbox fixes for screen adaptability and ui improvements across app
  src/components/pages/Sandbox.tsx
  src/components/pages/SandboxPage.tsx
  src/components/sandbox/SandboxWindow.tsx
  src/components/sandbox/types.ts
  src/hooks/useAudioInput.ts
  src/hooks/usePinchScale.ts
  src/hooks/useWindowManager.ts
  src/styles/Instruments.module.css
  src/styles/SandboxPage.module.css
  src/styles/SandboxWindow.module.css
  src/styles/Tuner.module.css
  src/translations/en.json
Due: prettier --write, eslint --fix, stylelint --fix

sandbox improvemetns
  src/components/pages/SandboxPage.tsx
  src/hooks/useWindowManager.ts
  src/styles/SandboxPage.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix ui and tuner fixes
  src/components/pages/Tuner.tsx
  src/styles/CustomAudioPlayer.css
  src/styles/Instruments.module.css
  src/styles/MelodyFeedback.module.css
  src/styles/Tuner.module.css
Due: prettier --write, eslint --fix, stylelint --fix

dashboard upgrade
  src/components/pages/Dashboard.tsx
  src/styles/Dashboard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

legal fixes
  LICENSE
  package-lock.json
  src/App.tsx
  src/components/auth/SignupForm.tsx
  src/components/common/CookieConsent.tsx
  src/components/pages/Classroom.tsx
  src/components/pages/PrivacyPolicy.tsx
  src/components/pages/Profile.tsx
  src/components/pages/Songs.tsx
  src/lib/pushNotifications.ts
  supabase/functions/send-push/index.ts
  supabase/migrations/003_security_fixes.sql
  vite.config.ts
Due: prettier --write, eslint --fix
